.footer {
    background-color: var(--color00);
    color: var(--color4);
    padding: 2rem 1rem;
    min-height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .footer h2 {
    font-size: 1rem;
  }
  .footer div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
  }
  .footer__a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    gap: 1rem;
    min-width: 280px;
  }
  .footer__a p {
    font-size: 0.8rem;
    color: var(--color4);
  }
  .footer__a i {
    font-size: 2rem;
    color: var(--color4);
    transition: color .2s ease, transform .2s ease;
  }
  
  .footer__a:hover i{
      color: var(--font-color2);
      transform: scale(1.1);
  }
  