* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

:root {
    --works-color: #09000c;
    --skills-color: #02021c;
    --color00: #1c0217;
    --color1: #4C3F91;
    --color2: #9145B6;
    --color3: #B958A5;
    --color4: #FF5677;
    --color5: #311c48;
    --color6: rgb(255, 234, 0);
    --color7: #1c3148;
    --font-color: rgb(68, 68, 68);
    --font-color2: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color5);
}

.container {
    height: 100%;
    width: 100%;
    background-color: var(--color00);
}


/* CONFIGURACIÓN CSS GRID */

.grid-container,
.grid-container2,
.grid-container3 {
    padding: 20px;
    margin: 0 auto;
}

.grid-item {
    margin-bottom: 40px;
    cursor: zoom-in;
    transition: box-shadow .2s ease;
}



/* .grid__img-container {
    transition: background .2s ease;
}

.grid-item.open .grid__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 3000;
    top: 0vh;
    left: 0vh;
    width: 100vw;
    height: 100vh;
    background-color: #09000ca1;
}

.grid-item.open .grid-img {
    opacity: 1;
    top: -0vh;
    left: -0vw;
    height: auto;
    max-height: 80vh;
    width: 40vw;
    -webkit-box-shadow: 0px 0px 21px 2px var(--font-color2);
    box-shadow: 0px 0px 21px 2px var(--font-color2);
}
*/

.grid-img {
    background-color: var(--color5);
    object-fit: cover;
    border-radius: 20px;
    transition: box-shadow .2s ease;
}


.grid-img:hover {
    opacity: 0.9;
    -webkit-box-shadow: 0px 0px 21px 2px var(--color3);
    box-shadow: 0px 0px 21px 2px var(--color3);
}


/* HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 800px;
    background: url(../img/pixelarts/Dororo.png) top no-repeat fixed;
    background-size: cover;
    background-color: var(--color00);
    color: var(--font-color2);

}

.header-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
    background-color: rgba(45, 0, 56, 0.501);
}

.header-img {
    height: auto;
    width: 20%;
    filter: none;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(17, 0, 34, 0.837);
}

.header-h2 {
    letter-spacing: 1px;
    font-size: 1.5rem;
    background-color: #6812a580;
    text-decoration: none;
    padding: 10px 15px;
    color: var(--font-color2);
    border-radius: 10px;
}

.header-p {
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-align: center;

}

.header a {
    background-color: #6812a5bb;
    text-decoration: none;
    padding: 10px 15px;
    color: var(--font-color2);
    border-radius: 10px;
    transition: background-color .2s ease;
    font-size: 16px;
}

.header a:hover {
    background-color: var(--color3);
}

/* PIXEL ARTS SECTION */

.pixelarts,
.animations {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--works-color);
    padding-top: 5rem;
}

.pixelarts .gallery-tittle {
    background: url(../img/pixelarts/Dororo.png) top center no-repeat;
    background-size: cover;
    width: 95%;
    margin-top: 20px;
}

.pixelarts .gallery__tittle-h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    width: 100%;
    padding: 20px;
    text-align: end;
    color: var(--font-color2);
    background-color: rgba(0, 8, 34, 0.741);

}

/* ANIMATIONS SECTION */

.animations .gallery-tittle {
    background: url(../img/pixelarts/Dororo.png) top center no-repeat;
    background-size: cover;
    width: 95%;
    margin-top: 20px;
}

.animations .gallery__tittle-h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    width: 100%;
    padding: 20px;
    text-align: right;
    color: var(--font-color2);
    background-color: rgba(34, 0, 23, 0.741);

}


@media screen and (max-width:750px) {

    .container {
        margin-top: 0;
    }

    .grid-img {
        height: 250px;
        margin-bottom: 10px;
    }

    .grid-item.open {
        object-fit: contain;
    }

    .grid-item.open .grid-img {
        height: auto;
        max-height: 80vh;
        width: auto;
        min-width: 80vw;
        object-fit: contain;
    }

}

/* @media screen and (max-width:650px) {} */