* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

:root {
    --works-color: #09000c;
    --skills-color: #02021c;
    --color00: #1c0217;
    --color1: #4C3F91;
    --color2: #9145B6;
    --color3: #B958A5;
    --color4: #FF5677;
    --color5: #311c48;
    --color6: rgb(255, 234, 0);
    --color7: #1c3148;
    --font-color: rgb(68, 68, 68);
    --font-color2: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
}


.container {
    background: url(../img/background.png)center no-repeat fixed;
    background-size: cover;
}


/* CABECERA */

.header {
    height: 100vh;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: url(../img/background2.png) top no-repeat fixed;
    background-size: cover;
    background-color: var(--color5);
    color: var(--font-color2);

}

.header-img {
    height: auto;
    width: 200px;
    filter: none;
    border-radius: 50%;
    -webkit-box-shadow: 0px 10px 13px -7px var(--color2), 1px 14px 21px 5px rgba(185, 131, 255, 0);
    box-shadow: 0px 10px 13px -7px var(--color2), 1px 14px 21px 5px rgba(185, 131, 255, 0);
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 20px;
    backdrop-filter: blur(3px);
    border-radius: 10px;
}

.header-h2 {
    letter-spacing: 1px;
    font-size: 2rem;
}

.header-p {
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-align: center;
}

.header a {
    background-color: #6812a5bb;
    text-decoration: none;
    padding: 10px 15px;
    color: var(--font-color2);
    border-radius: 10px;
    transition: background-color .2s ease;
    font-size: 16px;
}

.header a:hover {
    background-color: var(--color3);
}





/* CONTENIDO */

section {
    height: auto;
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.section-separator{
    opacity: 0;
    margin-bottom: 50px;
}

section h2 {
    font-size: 1.5rem;
}

section p {
    font-size: 1.2rem;
}

/* PESTAÑA WORKS */

.works {
    padding: 5px 30px 20px 30px;
    background-color: var(--works-color);
}

.works .works-h2 {
    text-align: center;
    background-color: var(--font-color2);
    color: var(--color5);
    letter-spacing: 1px;
    padding: 10px;
    margin: 30px auto 10px auto;

}

.article__works-div,
.article__works-div2 {
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--works-color);
}

.article-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: var(--font-color);
    background-color: var(--font-color2);
    padding: 30px 5px;
    margin: 20px;
    min-width: 250px;
    width: 35%;
    max-width: 400px;
    height: auto;
    line-height: 1.5;
    letter-spacing: 1px;
    transition: all .3s ease;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 21px 2px var(--color1);
    box-shadow: 0px 0px 21px 2px var(--color1);
}

.article-works:hover {
    -webkit-box-shadow: 0px 0px 21px 2px var(--color3);
    box-shadow: 0px 0px 21px 2px var(--color3);
    transform: scale(1);
}

/* .article__works-div2 {} */

.article__works-div2 .article-works {
    min-width: 250px;
    width: 25%;
}

.article__works-h2 {
    font-size: 1.5rem;
}


/* PIXERL ARTS */

.article__works-img-div {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.works__img-div {
    overflow: hidden;
    width: 90%;
    height: 100%;
    margin: auto;
}

.article__works-img {
    height: 100%;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    transform: scale(1.2);
    transition: transform .2s ease;
}

.article__works-img-div .article__works-img:hover,
.article__works-img-div2 .article__works-img {
    transform: scale(1);
}




.full__img-pixel img {
    width: 100px;
    height: 100%;
}

.article__works-a {
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--color1);
    color: var(--font-color2);
    transition: all .2s ease;
    border-radius: 20px;
    font-size: 1.2rem;
}

.article__works-a:hover {
    background-color: var(--color2);
}


/* PESTAÑAS SKILLS */

.skills {
    padding: 5px 30px 20px 30px;
    background-color: var(--skills-color);
}

.skills .skills-h2 {
    text-align: center;
    background-color: var(--font-color2);
    margin: 30px auto 10px auto;
    color: var(--skills-color);
    letter-spacing: 1px;
    padding: 10px;
}

.article__skills-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    height: auto;
    background-color: var(--font-color2);
}

.article__skills-info-div {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.skills-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 20px 10px;
    background-color: #4d3f912f;
    transition: background-color .2s ease;
}

.skills-info:hover {
    background-color: var(--font-color2);
}

.skills-info h2 {
    color: var(--font-color)
}

.skills-info:hover h2 {
    color: var(--color2);
}

.article__skills-h2 {
    text-align: center;
}

.article__skills-p {
    font-size: 16px;
    padding: 10px 10px;
    text-align: justify;
    line-height: 1.5;
}

.skills-info ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.skills-info ul li {
    color: var(--font-color);
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.skills-info ul li p {
    opacity: 0;
    transition: opacity .2s ease;
    padding: 10px 0;
    font-weight: 900;
    text-align: center;
    width: auto;
    font-size: 1rem;
}

.skills-info ul li:hover p {
    opacity: 1;
    font-weight: 900;

}

.skills-info ul li img {
    width: 100%;
    max-width: 50px;
    height: 100%;
    max-height: 50px;
    background-color: rgba(255, 255, 0, 0);
    transition: transform .5s ease;
}

.skills-info ul li img:hover {
    transform: scale(1.2) rotate(360deg);
}

.article__skills-img {
    width: 100%;
    min-width: 100px;
    max-width: 60%;
    height: auto;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.2s ease;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 21px 2px var(--color1);
    box-shadow: 0px 0px 21px 2px var(--color1);
}

.skills-info:hover .article__skills-img {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 21px 2px var(--color3);
    box-shadow: 0px 0px 21px 2px var(--color3);
}

/* PROJECTS */

.skills .projects-h2 {
    text-align: center;
    background-color: var(--font-color2);
    margin: 30px auto 10px auto;
    color: var(--skills-color);
    letter-spacing: 1px;
    padding: 10px;
}

.article__projects-div {

    margin: auto;
    min-height: auto;
    padding: 20px 10px;
    height: auto;
    width: 100%;
    background-color: var(--font-color2);
}

.article__projects-info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.projects-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap: 5px;
    width: 60%;
    height: auto;
    background-color: #5c23e23b;
    transition: background .2s ease;
}

.projects-info:hover {
    background-color: var(--font-color2);
}

.projects__info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects__info-text:first-child {
    width: 50%;
}

.projects__info-text:last-child {
    width: 50%;
}

.projects-info h2 {
    color: var(--font-color)
}

.projects-info:hover h2 {
    color: var(--color2);
}

.article__projects-h2 {
    text-align: center;
}

.article__projects-p {
    font-size: 1rem;
    padding: 10px 10px;
    text-align: center;
    line-height: 1.5;
}

.article__projects-img {
    width: 100%;
    min-width: 100px;
    max-width: 50%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.2s ease;
    margin-bottom: 10px;
    /* -webkit-box-shadow: 0px 0px 21px 2px var(--color1);
    box-shadow: 0px 0px 21px 2px var(--color1); */
}

.projects-info:hover .article__projects-img {
    transform: scale(1.05);
    /* -webkit-box-shadow: 0px 0px 21px 2px var(--color3);
    box-shadow: 0px 0px 21px 2px var(--color3); */
}

.article__projects-a {
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--color1);
    color: var(--font-color2);
    transition: all .2s ease;
    border-radius: 20px;
    font-size: 16px;
}

.article__projects-a:hover {
    background-color: var(--color2);
}

/* ABOUT ME */

.about {
    padding: 5px 30px 20px 30px;
    background-color: #23011d;
    height: auto;
}

.about .about-h2 {
    text-align: center;
    background-color: var(--font-color2);
    margin: 30px auto 10px auto;
    color: #23011d;
    letter-spacing: 1px;
    padding: 10px;
}

.article__about-div {
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--font-color2);
    min-height: 100%;
    min-height: 70vh;
}

.article__about-div-1 {
    width: 40%;
    background: url(../img/about/about2.jpeg)center no-repeat;
    background-color: #23011d;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 21px 2px var(--color1);
    box-shadow: inset 0px 0px 21px 2px var(--color00);
}

.article__about-div-1:hover {
    background: url(../img/about/about.jpeg)center no-repeat;
    background-size: cover;
}


.article__about-div-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    gap: 20px;
    width: 60%;
    padding: 40px;
}

.article__about-div-2>p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto 10px auto;
    padding: 10px 20px;
}

.about__info-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.about-info {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.about-info i {
    padding: 10px;
    font-size: 30px;
    color: var(--color4);
    border-radius: 50%;
    transition: all .2s ease;
}

.about-info:hover i {
    background-color: var(--color4);
    color: var(--font-color2);
}

.about-info p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    transition: transform .2s ease;
}

.about-info:hover p {
    transform: scale(1.01);
}


/* CONTACT */

.contact {
    padding: 10px;
    border-radius: 20px;
    background-color: #311c4833;
    width: 100%;
    min-height: max-content;
}

.contact .contact-h2 {
    text-align: center;
    background-color: var(--font-color2);
    margin: 30px auto 10px auto;
    color: var(--color5);
    letter-spacing: 1px;
    padding: 10px;
}

.article__contact-div-h2 {
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: #b958a63f;
    color: var(--color5);

}

.article__contact-div {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    background-color: var(--font-color2);
    padding: 40px;
    gap: 20px;
    border-radius: 20px;
}

.articles__contact {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    height: 50%;
}


.article-contact a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color2);
    transition: transform .2s ease;
}

.article-contact p {
    opacity: 0;
    font-weight: bold;
    transition: all .2s ease;
    width: 150px;
    text-align: center;
    font-size: 1rem;
}

.article-contact:hover p {
    opacity: 1;
    transform: scale(150%);
}

.article-contact a:hover {
    color: var(--color3);
    transform: scale(1.1);
}

.article-contact img {
    height: 100%;
    width: 80px;
    transition: all .2s ease;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 21px 2px var(--color2);
    box-shadow: 0px 0px 21px 2px var(--color2);
}

.article-contact:hover img {
    -webkit-box-shadow: 0px 0px 21px 2px var(--color4);
    box-shadow: 0px 0px 21px 2px var(--color4);
    transform: rotate(10deg);
}

/* FOOTER */

.footer {
    background-color: var(--color00);
    color: var(--font-color2);
    padding: 20px;
    font-size: 12px;
    text-align: right;
}

@media screen and (max-width:800px) {}

/* Menores resoluciones */
@media screen and (max-width:750px) {

    /* HEADER */
    .header {
        padding: 20px;
        line-height: 1.5;
    }

    .header-img {
        margin-top: 10px;
    }

    .header-h2 {
        font-size: 20px;
    }

    .header-p {
        font-size: 16px;
    }

    /* ARTICULOS DE TRABAJO */

    .article__works-p,
    .article__works-a {
        font-size: 14px;
    }

    .article__works-h2 {
        font-size: 18px;
    }

    .article__works-img {
        width: 100%;
    }

    .article-works {
        width: 100%;
        max-width: 350px;
    }

    .article-works:hover {
        -webkit-box-shadow: 0px 0px 21px 2px var(--color1);
        box-shadow: 0px 0px 21px 2px var(--color1);
        transform: none;
    }

    .article__works-div2 .article-works {
        width: 100%;
    }

    /* ARTICULOS DE SKILLS */

    .skills-info:hover,
    .projects-info:hover {
        background-color: #4d3f912f;
    }

    .article__skills-div {
        flex-direction: column;
        width: 100%;
    }

    .article__skills-info-div {
        display: grid;
        padding: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .article__skills-info-div h2 {
        font-size: 20px;
    }

    .article__skills-p {
        font-size: 14px;

    }

    .skills-img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        position: relative;
    }

    .skills-info {
        flex-direction: column;
        padding: 10px;
        min-width: 100px;
    }

    .skills-info:hover h2,
    .projects-info:hover h2 {
        color: var(--font-color);
    }

    .skills-info .article__skills-img,
    .projects-info .article__projects-img {
        -webkit-box-shadow: 0px 0px 21px 2px var(--color3);
        box-shadow: 0px 0px 21px 2px var(--color3);
    }

    .skills-info:hover .article__skills-img,
    .projects-info:hover .article__projects-img {
        transform: none;

    }

    .skills-info ul {
        gap: 10px;
    }

    .skills-info ul li p {
        opacity: 1;
        transition: none;
    }

    .skills-info ul li img {
        transition: none;
    }

    .skills-info ul li img:hover {
        transform: none;
    }


    .article__skills-img {
        width: 100%;
        max-width: 250px;
    }

    /* PROJECTS */

    .article__projects-info-div {
        flex-direction: column;
        gap: 50px;
    }

    .projects-info {
        margin: auto;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
    }

    .projects__info-text:first-child {
        width: 100%;
    }

    .projects__info-text:last-child {
        width: 100%;
    }

    /* ABOUT */

    .article__about-div {
        flex-direction: column-reverse;
        height: auto;
    }

    .article__about-div-1 {
        height: 30vh;
        width: 100%;
        background-size: contain;
    }

    .article__about-div-1:hover {
        background: url(../img/about/about.jpeg)center no-repeat;
        background-size: cover;
    }

    .article__about-div-2 {
        height: 40%;
        width: 100%;
        padding: 20px 10px 40px 10px;
    }

    .article__about-div-2 > p {text-align: center;}

    .about__info-div {
        padding: 0;
    }

    .about-info {
        gap: 5px;
        width: 100%;
    }

    .about-info p {
        font-size: 16px;
        line-height: 1.5;
    }

    .about-info:hover p {
        transform: none;
    }

    .about-info:hover i {
        color: var(--color4);
        background-color: transparent;
    }

    /* CONTACT */
    .contact {
        width: 100%;
    }

    .article__contact-div {
        width: 100%;
    }

    .article-contact a {
        width: 120px;
    }

    .article-contact p {
        opacity: 1;
        font-size: 14px;
    }
    .article-contact:hover p{
        transform: none;
    }

    .article-contact img {
        width: 60px;
    }
}

/* Mayores resoluciones */